<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{_layout}">
    <head>
        <title>Users</title>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-3 col-lg-2" th:each="user : ${users}">
                    This is: <span th:text="${user.name}">user</span>
                </div>
            </div>
        </div>
    </body>
</html>